* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: "Montserrat", sans-serif;
}

header {
  display: grid;
  grid-template-areas:
    "logo header_search-bar header_icons"
    "menu menu menu";
  grid-area: header;
  background-color: #0b1440;
  color: white;
  height: 90px;
  align-items: center;
}

.logo {
  grid-area: logo;
  width: 315px;
}

.header_search-bar {
  grid-area: header_search-bar;
  width: 850px;
  display: flex;
}

.fa-search {
  margin-top: 5px;
  margin-left: 2px;
}

.header_search-bar2 {
  width: 600px;
  height: 25px;
}

.header_icons {
  display: flex;
  justify-content: center;
  gap: 10px;

  grid-area: header_icons;
  width: 90px;
}

.menu {
  grid-area: menu;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1.2rem;
}

main {
  grid-area: main;
  background-color: #f9f9f9;
  height: 100vh;
}

.container {
  margin: 8rem;
  text-align: center;
}

img {
  margin-bottom: 2.5rem;
}

h1 {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}

.c-btn {
  margin-top: 1.5rem;
  height: 40px;
  width: 180px;
  border-radius: 1px;
  border-color: #f89a3d;
  background-color: #f89a3d;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.c-btn:hover {
  border-color: #f89a3d;
  background-color: white;
  color: #f89a3d;
}

footer {
  display: grid;
  grid-template-areas: "footer_list1 footer_list2 footer_list3 footer_icons";
  color: white;
  grid-area: footer;
  background-color: #0b1440;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
}

footer .fa-instagram,
.fa-twitter,
.fa-facebook-f {
  font-size: 40px;
  margin-left: 25px;
}

@media (max-width: 1200px) /*Desktop*/ {
}

@media (max-width: 991px) /*Tablet*/ {
}

@media (max-width: 767px) /*Mobile*/ {
}
