* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: "Montserrat", sans-serif;
}

header {
  display: grid;
  grid-template-areas:
    "logo header_search-bar header_icons"
    "menu menu menu";
  grid-area: header;
  background-color: #0b1440;
  color: white;
  height: 90px;
  align-items: center;
  position: relative;
}

a {
  color: white;
}

a:visited {
  color: white;
}

.logo {
  grid-area: logo;
  width: 70%;
}

.header_search-bar {
  grid-area: header_search-bar;
  width: 84%;
  margin-right: 26rem;
}

.header_search-bar2 {
  width: 90%;
  height: 25px;
  padding-left: 5px;
}

.header_icons {
  display: flex;
  grid-area: header_icons;
  width: 100%;
}

.fa-search {
  cursor: pointer;
}

.fa-shopping-cart {
  margin-right: 15px;
}

.menu {
  grid-area: menu;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1.2rem;
}

li a:hover {
  text-decoration: underline;
}

main {
  grid-area: main;
  background-color: #f9f9f9;
}

.container {
  display: grid;
  grid-template-areas:
    "container-head"
    "container-main";
  justify-content: center;
  margin: 2rem auto;
}

.container-head {
  grid-area: container-head;
  margin-top: 40px;
  margin-bottom: 30px;
  justify-self: center;
}

.title {
  font-size: 2.5rem;
  font-style: bold;
}

.container-main {
  display: grid;
  grid-template-areas: "form";
  grid-area: container-main;
  margin: 2rem 2rem 2rem 2rem;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  height: 25px;
  width: 100%;
}

#first-name,
#last-name,
#email,
#topic {
  margin-bottom: 1rem;
}

#question {
  height: 150px;
}

.container-btn {
  margin-top: 40px;
  height: 40px;
  width: 110px;
  border-radius: 4px;
  border-color: #f89a3d;
  background-color: #f89a3d;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.container-btn:hover {
  border-color: #f89a3d;
  background-color: white;
  color: #f89a3d;
}
footer {
  display: grid;
  grid-template-areas: "footer_list1 footer_list2 footer_list3 footer_icons";
  color: white;
  grid-area: footer;
  background-color: #0b1440;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
}

footer .fa-instagram,
.fa-twitter,
.fa-facebook-f {
  font-size: 40px;
  margin-left: 25px;
}

@media (max-width: 1200px) /*Desktop*/ {
}

@media (max-width: 991px) /*Tablet*/ {
  header {
    display: grid;
    grid-template-areas:
      "logo header_search-bar header_icons"
      "menu menu menu";
    grid-area: header;
  }
  .header_search-bar {
    width: 70%;
    margin-right: 17rem;
  }

  .logo {
    width: 90%;
  }

  .header_icons {
    display: flex;
    grid-area: header_icons;
    width: 1%;
  }
}

@media (max-width: 767px) /*Mobile*/ {
  header {
    display: grid;
    grid-template-areas:
      "logo header_search-bar header_icons"
      "menu menu menu";
    grid-area: header;
  }

  .header_search-bar {
    width: 70%;
    margin-right: 11rem;
  }

  .header_search-bar2 {
    width: 75%;
  }

  .logo {
    width: 100%;
  }

  .header_icons {
    width: 80%;
  }

  footer {
    display: grid;
    grid-template-areas:
      "footer_list1 footer_list2"
      "footer_list3 footer_icons";
    grid-area: footer;
    height: 210px;
  }
}
