* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: "Montserrat", sans-serif;
}

header {
  display: grid;
  grid-template-areas:
    "logo header_search-bar header_icons"
    "menu menu menu";
  grid-area: header;
  background-color: #0b1440;
  color: white;
  height: 90px;
  align-items: center;
}

.logo {
  grid-area: logo;
  width: 315px;
}

.header_search-bar {
  grid-area: header_search-bar;
  width: 850px;
  justify-self: right;
}

.header_search-bar2 {
  width: 600px;
  height: 25px;
}

.header_icons {
  display: flex;
  justify-content: center;
  gap: 10px;

  grid-area: header_icons;
  width: 90px;
}

.menu {
  grid-area: menu;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1.2rem;
}

main {
  grid-area: main;
  background-color: #f9f9f9;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-areas:
    "container-left container-right"
    "container-bottom container-bottom";
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.container-left {
  grid-area: container-left;
  border: solid purple 2px;
  margin-left: auto;
}

.cl-pic {
  background-color: gray;
  height: 300px;
  width: 200px;
}

.container-right {
  grid-area: container-right;
  border: solid green 2px;
  width: 600px;
  margin-left: 50px;
}

.cr-price {
  margin-top: 20px;
}

.cr-text {
  margin-top: 30px;
  width: 400px;
}

.cr-hero-price {
  color: #f89a3d;
  font-size: 2.2rem;
}

p {
  margin-top: 5px;
  font-size: 0.9rem;
}

.cr-btn {
  margin-top: 10px;
}

.cr-hero-btn {
  background-color: #f89a3d;
  border-color: #f89a3d;
  color: white;
  height: 45px;
  width: 370px;
  border-radius: 2px;
  font-size: 1rem;
  font-style: inherit;
}

.container-bottom {
  grid-area: container-bottom;
  border: solid black 2px;
  margin-top: 20px;
}

footer {
  display: grid;
  grid-template-areas: "footer_list1 footer_list2 footer_list3 footer_icons";
  color: white;
  grid-area: footer;
  background-color: #0b1440;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
}

footer .fa-instagram,
.fa-twitter,
.fa-facebook-f {
  font-size: 40px;
  margin-left: 25px;
}

@media (max-width: 1200px) /*Desktop*/ {
}

@media (max-width: 991px) /*Tablet*/ {
}

@media (max-width: 767px) /*Mobile*/ {
}
