* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: "Montserrat", sans-serif;
}

header {
  display: grid;
  grid-template-areas:
    "logo header_search-bar header_icons"
    "menu menu menu";
  grid-area: header;
  background-color: #0b1440;
  color: white;
  height: 90px;
  align-items: center;
  position: relative;
}

a {
  color: white;
}

a:visited {
  color: white;
}

.logo {
  grid-area: logo;
  width: 70%;
}

.header_search-bar {
  grid-area: header_search-bar;
  width: 84%;
  margin-right: 26rem;
}

.header_search-bar2 {
  width: 90%;
  height: 25px;
  padding-left: 5px;
}

.header_icons {
  display: flex;
  grid-area: header_icons;
  width: 100%;
}

.fa-search {
  cursor: pointer;
}

.fa-shopping-cart {
  margin-right: 15px;
}

.menu {
  grid-area: menu;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1.2rem;
}

li a:hover {
  text-decoration: underline;
}

main {
  grid-area: main;
  background-color: #f9f9f9;
}

main .hero_banner {
  background-image: url("/img/Image\ 11.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
  position: relative;
}

.hero_banner_stuff {
  display: grid;
  grid-template-areas:
    "hero_price"
    "hero_btn";
  position: absolute;
  right: 50px;
  bottom: 30px;
}

main .hero_btn {
  grid-area: hero_btn;
  color: white;
  background-color: #f89a3d;
  border-radius: 4px;
  border-color: #f89a3d;
  height: 50px;
  width: 200px;
  text-transform: uppercase;
  cursor: pointer;
}

.hero_btn:hover {
  border-color: #f89a3d;
  background-color: white;
  color: #f89a3d;
}

main .hero_price {
  grid-area: hero_price;
  color: #f89a3d;
  font-size: 2.5rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.container-top {
  display: grid;
  grid-template-areas: "top1";
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 30px;
}

.container {
  display: grid;
  grid-template-areas: "box1 box2 box3 box4 box5";
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.card1 {
  width: 200px;
  height: 300px;
  grid-area: box1;
  background-image: url(/img/fifa.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card2 {
  width: 200px;
  height: 300px;
  grid-area: box2;
  background-image: url(/img/cp.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.card3 {
  width: 200px;
  height: 300px;
  grid-area: box3;
  background-image: url(/img/ac.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card4 {
  width: 200px;
  height: 300px;
  grid-area: box4;
  background-image: url(/img/w3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.ct-1,
.ct-2,
.ct-3 {
  margin-top: 10rem;
  margin-bottom: 2.5rem;
}

.container-top2 {
  display: grid;
  grid-template-areas: "top3 top4 top5";
  justify-content: space-evenly;
  margin-top: 150px;
  margin-bottom: 20px;
}

.container2 {
  display: grid;
  grid-template-areas:
    "game1 game2 game3"
    "game4 game5 game6"
    "game7 game8 game9";
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  row-gap: 30px;
  margin-bottom: 4rem;
}

.game1 {
  width: 100%;
  height: 250px;
  grid-area: game1;
  background-image: url(/img/cp.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game2 {
  width: 100%;
  height: 250px;
  grid-area: game2;
  background-image: url(/img/fifa.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game3 {
  width: 100%;
  height: 250px;
  grid-area: game3;
  background-image: url(/img/ac.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game4 {
  width: 100%;
  height: 250px;
  grid-area: game4;
  background-image: url(/img/ac.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game5 {
  width: 100%;
  height: 250px;
  grid-area: game5;
  background-image: url(/img/cp.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game6 {
  width: 100%;
  height: 250px;
  grid-area: game6;
  background-image: url(/img/fifa.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game7 {
  width: 100%;
  height: 250px;
  grid-area: game7;
  background-image: url(/img/fifa.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game8 {
  width: 100%;
  height: 250px;
  grid-area: game8;
  background-image: url(/img/ac.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game9 {
  width: 100%;
  height: 250px;
  grid-area: game9;
  background-image: url(/img/cp.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  display: grid;
  grid-template-areas: "footer_list1 footer_list2 footer_list3 footer_icons";
  color: white;
  grid-area: footer;
  background-color: #0b1440;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
}

footer .fa-instagram,
.fa-twitter,
.fa-facebook-f {
  font-size: 40px;
  margin-left: 25px;
}

@media (max-width: 1200px) /*Desktop*/ {
}

@media (max-width: 991px) /*Tablet*/ {
  header {
    display: grid;
    grid-template-areas:
      "logo header_search-bar header_icons"
      "menu menu menu";
    grid-area: header;
  }
  .header_search-bar {
    width: 70%;
    margin-right: 17rem;
  }

  .logo {
    width: 90%;
  }

  .header_icons {
    display: flex;
    grid-area: header_icons;
    width: 1%;
  }

  main .hero_banner {
    background-image: url("/img/Image\ 11.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    position: relative;
  }

  .container {
    display: grid;
    grid-template-areas:
      "box1 box2"
      "box3 box4";
    row-gap: 20px;
    justify-content: space-evenly;
  }
}

@media (max-width: 767px) /*Mobile*/ {
  header {
    display: grid;
    grid-template-areas:
      "logo header_search-bar header_icons"
      "menu menu menu";
    grid-area: header;
  }

  .header_search-bar {
    width: 70%;
    margin-right: 11rem;
  }

  .header_search-bar2 {
    width: 75%;
  }

  .logo {
    width: 100%;
  }

  .header_icons {
    width: 80%;
  }

  footer {
    display: grid;
    grid-template-areas:
      "footer_list1 footer_list2"
      "footer_list3 footer_icons";
    grid-area: footer;
    height: 210px;
  }

  main .hero_banner {
    background-image: url("/img/Image\ 11.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    position: relative;
  }

  .container {
    display: grid;
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4";
    row-gap: 40px;
    justify-content: space-evenly;
  }

  .container2 {
    display: grid;
    grid-template-areas:
      "game1"
      "game6"
      "game4"
      "game2"
      "game8"
      "game5"
      "game3"
      "game7"
      "game9";
  }

  .ct-1,
  .ct-2,
  .ct-3 {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
  }
}
