* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: "Montserrat", sans-serif;
}

header {
  display: grid;
  grid-template-areas:
    "logo header_search-bar header_icons"
    "menu menu menu";
  grid-area: header;
  background-color: #0b1440;
  color: white;
  height: 90px;
  align-items: center;
  position: relative;
}

a {
  color: white;
}

a:visited {
  color: white;
}

.logo {
  grid-area: logo;
  width: 70%;
}

.header_search-bar {
  grid-area: header_search-bar;
  width: 84%;
  margin-right: 26rem;
}

.header_search-bar2 {
  width: 90%;
  height: 25px;
  padding-left: 5px;
}

.header_icons {
  display: flex;
  grid-area: header_icons;
  width: 100%;
}

.fa-search {
  cursor: pointer;
}

.fa-shopping-cart {
  margin-right: 15px;
}

.menu {
  grid-area: menu;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1.2rem;
}

li a:hover {
  text-decoration: underline;
}

main {
  grid-area: main;
  background-color: #f9f9f9;
}

.store_container {
  width: 80%;
  margin: auto;
  height: 100%;
}

.store_content {
  display: grid;
  grid-template-areas:
    "sc-top sc-top"
    "sc-left sc-right";
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.sc-top {
  grid-area: sc-top;
  height: 100px;
  width: 100%;
  position: relative;
}

.sc-left {
  grid-area: sc-left;
  height: fit-content;
  width: fit-content;
}

.all-p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

h3 {
  margin-bottom: 10px;
}

input {
  height: 35px;
  width: 75px;
  padding-left: 5px;
}

.input-s {
  width: 200px;
  height: 22px;
  position: absolute;
  right: 0;
  top: 5px;
  padding-left: 5px;
  cursor: pointer;
}

.label-s {
  position: absolute;
  right: 220px;
  top: 6px;
}

.sc-right {
  grid-area: sc-right;
  display: grid;
  grid-template-areas:
    "game1 game2 game3"
    "game4 game5 game6"
    "game7 game8 game9";
  justify-content: space-between;
  row-gap: 2.5rem;
}

.game1 {
  width: 100%;
  height: 250px;
  grid-area: game1;
  background-image: url(/img/cp.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game2 {
  width: 100%;
  height: 250px;
  grid-area: game2;
  background-image: url(/img/fifa.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game3 {
  width: 100%;
  height: 250px;
  grid-area: game3;
  background-image: url(/img/ac.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game4 {
  width: 100%;
  height: 250px;
  grid-area: game4;
  background-image: url(/img/ac.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game5 {
  width: 100%;
  height: 250px;
  grid-area: game5;
  background-image: url(/img/cp.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game6 {
  width: 100%;
  height: 250px;
  grid-area: game6;
  background-image: url(/img/fifa.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game7 {
  width: 100%;
  height: 250px;
  grid-area: game7;
  background-image: url(/img/fifa.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game8 {
  width: 100%;
  height: 250px;
  grid-area: game8;
  background-image: url(/img/ac.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game9 {
  width: 100%;
  height: 250px;
  grid-area: game9;
  background-image: url(/img/cp.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  display: grid;
  grid-template-areas: "footer_list1 footer_list2 footer_list3 footer_icons";
  color: white;
  grid-area: footer;
  background-color: #0b1440;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
}

footer .fa-instagram,
.fa-twitter,
.fa-facebook-f {
  font-size: 40px;
  margin-left: 25px;
}

@media (max-width: 1200px) /*Desktop*/ {
}

@media (max-width: 991px) /*Tablet*/ {
  header {
    display: grid;
    grid-template-areas:
      "logo header_search-bar header_icons"
      "menu menu menu";
    grid-area: header;
  }
  .header_search-bar {
    width: 70%;
    margin-right: 17rem;
  }

  .logo {
    width: 90%;
  }

  .header_icons {
    display: flex;
    grid-area: header_icons;
    width: 1%;
  }

  .sc-right {
    grid-area: sc-right;
    display: grid;
    grid-template-areas:
      "game1 game2"
      "game3 game4"
      "game5 game6"
      "game7 game8";
    justify-content: space-between;
    row-gap: 2.5rem;
  }
}

@media (max-width: 767px) /*Mobile*/ {
  header {
    display: grid;
    grid-template-areas:
      "logo header_search-bar header_icons"
      "menu menu menu";
    grid-area: header;
  }

  .header_search-bar {
    width: 70%;
    margin-right: 11rem;
  }

  .header_search-bar2 {
    width: 75%;
  }

  .logo {
    width: 100%;
  }

  .header_icons {
    width: 80%;
  }

  .sc-right {
    grid-area: sc-right;
    display: grid;
    grid-template-areas:
      "game1"
      "game2"
      "game3"
      "game4"
      "game5"
      "game6"
      "game7"
      "game8"
      "game9";
    justify-content: space-between;
    row-gap: 2.5rem;
  }

  .header-1 {
    font-size: 0.8rem;
  }

  .header-2 {
    font-size: 0.7rem;
  }

  .header-3 {
    font-size: 0.7rem;
  }

  .header-4 {
    font-size: 0.7rem;
  }

  .all-p {
    font-size: 0.8rem;
  }

  .label-s {
    display: none;
  }

  input {
    height: 35px;
    width: 60px;
    padding-left: 5px;
  }

  footer {
    display: grid;
    grid-template-areas:
      "footer_list1 footer_list2"
      "footer_list3 footer_icons";
    grid-area: footer;
    height: 210px;
  }
}
